@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,500");

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.web-screen {
  background-color: #f2e8e6;
  height: 1044px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  width: 1920px;
}

.monserrat-bold-1_0 {
  background-color: transparent;
  height: auto;
  left: 630px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 30px;
  white-space: nowrap;
  width: auto;
}

.monserrat-bold-1_1 {
  background-color: transparent;
  height: auto;
  left: 820px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 30px;
  white-space: nowrap;
  width: auto;
}

.monserrat-bold-1_2 {
  background-color: transparent;
  height: auto;
  left: 1010px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 30px;
  white-space: nowrap;
  width: auto;
}

.monserrat-bold-1_3 {
  background-color: transparent;
  height: auto;
  left: 1205px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 30px;
  white-space: nowrap;
  width: auto;
}

.monserrat-bold-1_4 {
  background-color: transparent;
  height: auto;
  left: 1395px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 30px;
  white-space: nowrap;
  width: auto;
}

.monserrat-bold-1_5 {
  background-color: transparent;
  height: auto;
  left: 1586px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 30px;
  white-space: nowrap;
  width: auto;
}

.monserrat-bold-1_6 {
  background-color: transparent;
  height: auto;
  left: 1775px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 30px;
  white-space: nowrap;
  width: auto;
}

.rec-20 table,th,td {
  border: 1px solid black;
  border-collapse: collapse;
}

.nfl-live-stats {
  background-color: transparent;
  color: #1e728e;
  font-family: var(--font-family-monserrat);
  font-size: var(--font-size-l);
  font-weight: 700;
  height: auto;
  left: 67px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 28px;
  white-space: nowrap;
  width: auto;
}

.specific-header-1 {
  background-color: transparent;
  color: #c29bb6;
  font-family: var(--font-family-monserrat);
  font-size: var(--font-size-m);
  font-weight: 500;
  height: auto;
  left: 67px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 45px;
  white-space: nowrap;
  width: auto;
}

.span0 {
  color: #000000;
  font-style: normal;
}

.span1 {
  font-size: var(--font-size-m);
  font-style: normal;
}

.span2 {
  font-size: var(--font-size-s);
  font-style: normal;
}

.gameTime_0 {
  background-color: transparent;
  color: #c29bb6;
  font-family: var(--font-family-monserrat);  
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left:465px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 10px;
  white-space: nowrap;
  width: auto;
}

.gameTime_1 {
  background-color: transparent;
  color: #c29bb6;
  font-family: var(--font-family-monserrat);  
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 660px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 10px;
  white-space: nowrap;
  width: auto;
}

.gameTime_2 {
  background-color: transparent;
  color: #c29bb6;
  font-family: var(--font-family-monserrat);  
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 850px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 10px;
  white-space: nowrap;
  width: auto;
}

.gameTime_3 {
  background-color: transparent;
  color: #c29bb6;
  font-family: var(--font-family-monserrat);  
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left:1040px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 10px;
  white-space: nowrap;
  width: auto;
}

.gameTime_4 {
  background-color: transparent;
  color: #c29bb6;
  font-family: var(--font-family-monserrat);  
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 1232px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 10px;
  white-space: nowrap;
  width: auto;
}

.gameTime_5 {
  background-color: transparent;
  color: #c29bb6;
  font-family: var(--font-family-monserrat);  
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 1425px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 10px;
  white-space: nowrap;
  width: auto;
}

.gameTime_6 {
  background-color: transparent;
  color: #c29bb6;
  font-family: var(--font-family-monserrat);  
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left:1615px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 10px;
  white-space: nowrap;
  width: auto;
}

.monserrat-bold-3_0 {
  background-color: transparent;
  height: auto;
  left: 465px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 30px;
  white-space: nowrap;
  width: auto;
}

.monserrat-bold-3_1 {
  background-color: transparent;
  height: auto;
  left: 660px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 30px;
  white-space: nowrap;
  width: auto;
}

.monserrat-bold-3_2 {
  background-color: transparent;
  height: auto;
  left: 850px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 30px;
  white-space: nowrap;
  width: auto;
}

.monserrat-bold-3_3 {
  background-color: transparent;
  height: auto;
  left: 1040px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 30px;
  white-space: nowrap;
  width: auto;
}

.monserrat-bold-3_4 {
  background-color: transparent;
  height: auto;
  left: 1232px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 30px;
  white-space: nowrap;
  width: auto;
}

.monserrat-bold-3_5 {
  background-color: transparent;
  height: auto;
  left: 1425px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 30px;
  white-space: nowrap;
  width: auto;
}

.monserrat-bold-3_6 {
  background-color: transparent;
  height: auto;
  left: 1615px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 30px;
  white-space: nowrap;
  width: auto;
}

.videoStation {
  background-color: transparent;
  color: var(--gravel);
  font-family: var(--font-family-monserrat);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 560px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 4.54px;
  white-space: nowrap;
  width: auto;
}

.rec-17 {
  background-color: var(--white);
  border: 0.25px solid;
  border-color: var(--dove-gray);
  border-radius: 10px;
  height: 16px;
  left: 327px;
  position: absolute;
  top:31px;
  width: 120px;
}

.rec-3 {
  background-color: #1e728e;
  border: 0.5px solid;
  border-color: var(--eerie-black);
  height: 77px;
  left: 459px;
  position: absolute;
  top: -1px;
  width: 191px;
}

.rec-14 {
  background-color: #1e728e;
  border: 0.5px solid;
  border-color: var(--eerie-black);
  height: 78px;
  left: 1414px;
  position: absolute;
  top:-1px;
  width: 191px;
}

.rec-13 {
  background-color: #1e728e;
  border: 0.5px solid;
  border-color: var(--eerie-black);
  height: 78px;
  left: 1223px;
  position: absolute;
  top:-1px;
  width: 191px;
}

.nfl {
  background-color: transparent;
  color: var(--dove-gray);
  font-family: var(--font-family-monserrat);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 243px;
  letter-spacing: 0px;
  line-height: 8px;
  position: absolute;
  text-align: left;
  top: 36px;
  white-space: nowrap;
  width: auto;
}

.rec-15 {
  background-color: #1e728e;
  border: 0.5px solid;
  border-color: var(--eerie-black);
  height: 78px;
  left: 1605px;
  position: absolute;
  top:-1px;
  width: 191px;
}

.monserrat-bold-2_0 {
  background-color: transparent;
  height: auto;
  left: 630px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 54px;
  white-space: nowrap;
  width: auto;
}

.monserrat-bold-2_1{
  background-color: transparent;
  height: auto;
  left: 820px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 54px;
  white-space: nowrap;
  width: auto;
}

.monserrat-bold-2_2 {
  background-color: transparent;
  height: auto;
  left: 1010px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 54px;
  white-space: nowrap;
  width: auto;
}

.monserrat-bold-2_3 {
  background-color: transparent;
  height: auto;
  left: 1205px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 54px;
  white-space: nowrap;
  width: auto;
}

.monserrat-bold-2_4 {
  background-color: transparent;
  height: auto;
  left: 1395px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 54px;
  white-space: nowrap;
  width: auto;
}

.monserrat-bold-2_5 {
  background-color: transparent;
  height: auto;
  left: 1586px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 54px;
  white-space: nowrap;
  width: auto;
}

.monserrat-bold-2_6 {
  background-color: transparent;
  height: auto;
  left: 1775px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 54px;
  white-space: nowrap;
  width: auto;
}

.line-1 {
  background-color: transparent;
  height: 1px;
  left: 164px;
  position: absolute;
  top: 311px;
  width: 240px;
  border-style: none none dotted;
}

.line-2 {
  background-color: transparent;
  height: 1px;
  left: 164px;
  position: absolute;
  top: 212px;
  width: 240px;
  border-style: none none dotted;
}

.line-3 {
  background-color: transparent;
  height: 1px;
  left: 164px;
  position: absolute;
  top: 360px;
  width: 240px;
  border-style: none none dotted;
}

.line-4 {
  background-color: transparent;
  height: 1px;
  left: 164px;
  position: absolute;
  top: 262px;
  width: 240px;
  border-style: none none dotted;
}

.line-5 {
  height: 1px;
  left: 164px;
  position: absolute;
  top: 168px;
  width: 240px;
}


.top-yardage {
  background-color: transparent;
  color: black;
  font-family: var(--font-family-monserrat);
  font-size: var(--font-size-1);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 228px;
  letter-spacing: 0px;
  line-height: 0px;
  position: absolute;
  text-align: left;
  top: 160px;
  white-space: nowrap;
  width: auto;
}

.sacks {
  background-color: transparent;
  height: auto;
  left: 165px;
  letter-spacing: 0px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 336px;
  white-space: nowrap;
  width: auto;
}

.sacks a {
  color: black;
  text-decoration: none;
}

.sacks a:hover{
  color: #1e728e;
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
}

.rec-12 {
  background-color: #1e728e;
  border: 0.5px solid;
  border-color: var(--eerie-black);
  height: 78px;
  left: 1032px;
  position: absolute;
  top:-1px;
  width: 191px;
}

.rec-1 {
  background-color: #f1f2f3;
  height: 123px;
  left: 0px;
  position: absolute;
  top: 0px;
}

.interceptions {
  background-color: transparent;
  height: auto;
  left: 165px;
  letter-spacing: 0px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 383px;
  white-space: nowrap;
  width: auto;
}

.interceptions a {
  color: black;
  text-decoration: none;
}

.interceptions a:hover{
  color: #1e728e;
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
}

body article{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 15px 0;
  border-bottom: 1px solid black;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
  font-family: var(--font-family-monserrat);
  font-size: var(--font-size-1);
  font-style: normal;
  font-weight: 300;
}

.message {
  text-align: center;
  font-family: var(--font-family-monserrat);
  font-weight: 500;
}

.monserrat-bold-4_0 {
  background-color: transparent;
  height: auto;
  left: 465px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 54px;
  white-space: nowrap;
  width: auto;
}

.monserrat-bold-4_1 {
  background-color: transparent;
  height: auto;
  left: 660px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 54px;
  white-space: nowrap;
  width: auto;
}

.monserrat-bold-4_2 {
  background-color: transparent;
  height: auto;
  left: 850px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 54px;
  white-space: nowrap;
  width: auto;
}
.monserrat-bold-4_3 {
  background-color: transparent;
  height: auto;
  left: 1040px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 54px;
  white-space: nowrap;
  width: auto;
}

.monserrat-bold-4_4 {
  background-color: transparent;
  height: auto;
  left: 1232px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 54px;
  white-space: nowrap;
  width: auto;
}

.monserrat-bold-4_5 {
  background-color: transparent;
  height: auto;
  left: 1425px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 54px;
  white-space: nowrap;
  width: auto;
}

.monserrat-bold-4_6 {
  background-color: transparent;
  height: auto;
  left: 1615px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 54px;
  white-space: nowrap;
  width: auto;
}

.rec-20 {
  background-color: #e0e0e0;
  border-radius: 24px;
  box-shadow: 10px 10px 15px #bebebe;
  height: 487px;
  left: 1545px;
  position: absolute;
  top: 143px;
  width: 256px;
}

.rec-21 {
  background-color: #e0e0e0;
  border-radius: 24px;
  box-shadow: 10px 10px 15px #bebebe;
  height: 487px;
  left: 460px;
  position: absolute;
  top:143px;
  width: 1000px;
}

.rec-22 {
  background-color: #e0e0e0;
  border-radius: 24px;
  box-shadow: 10px 10px 15px #bebebe;
  height: 200px;
  left: 460px;
  position: absolute;
  top:675px;
  width: 1345px;
}

.rushing {
  background-color: transparent;
  height: auto;
  left: 165px;
  letter-spacing: 0px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 238px;
  white-space: nowrap;
  width: auto;
}

.rushing a {
  color: black;
  text-decoration: none;
}

.rushing a:hover{
  color: #1e728e;
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
}

.rec-10{
  background-color: #1e728e;
  border: 0.5px solid;
  border-color: var(--eerie-black);
  height: 77px;
  left: 650px;
  position: absolute;
  top:-1px;
  width: 191px;
}

.rec-16 {
  background-color: #1e728e;
  border: 0.25px solid;
  border-color: var(--eerie-black);
  border-radius: 8px;
  height: 16px;
  left: 234px;
  position: absolute;
  top:31px;
  width: 63px;
}

.rec-11 {
  background-color: #1e728e;
  border: 0.5px solid;
  border-color: var(--eerie-black);
  height: 78px;
  left: 841px;
  position: absolute;
  top:-1px;
  width: 191px;
}

.live-statistics {
  background-color: transparent;
  color: #cb2a1d;
  font-family: var(--font-family-monserrat);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 360px;
  letter-spacing: 0px;
  line-height: 8px;
  position: absolute;
  text-align: left;
  top: 36px;
  white-space: nowrap;
  width: auto;
}

.rec-18 {
  background-color: #e0e0e0;
  border-radius: 24px;
  box-shadow: 10px 10px 15px #bebebe;
  height: 270px;
  left: 158px;
  position: absolute;
  top: 143px;
  width: 256px;
}

.rec-23 {
  background-color: #e0e0e0;
  border-radius: 24px;
  box-shadow: 10px 10px 15px #bebebe;
  height: 428px;
  left: 158px;
  position: absolute;
  top:450px;
  width: 256px;
}

.passing {
  background-color: transparent;
  height: auto;
  left: 165px;
  letter-spacing: 0px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 192px;
  white-space: nowrap;
  width: auto;
}

.passing a {
  color:black;
  text-decoration: none;
  font-size: var(--font-size-s);
}

.passing a:hover{
  color: #1e728e;
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
}

.receiving {
  background-color: transparent;
  height: auto;
  left: 165px;
  letter-spacing: 0px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 287px;
  white-space: nowrap;
  width: auto;
}

.receiving a {
  color: black;
  text-decoration: none;
  font-size: var(--font-size-s)
}

.receiving a:hover{
  color: #1e728e;
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
}

.arrow-down {
  background-color: transparent;
  height: 3px;
  left: 275px;
  position: absolute;
  top: 32.5px;
  width: 4px;
}

.navbar {
  background-color: #657a97;
  font-family: var(--font-family-monserrat);
  background-color:#1e728e ;
  box-shadow: 0px 3px 6px #0000006a;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 75px;
  width: 1920px;
  border-color: var(--eerie-black);
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #010101;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #c29bb6;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #c29bb6;
}

.show {
  display: block;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

