@import url("https://fonts.googleapis.com/css?family=Montserrat:700");

.web-1920-1 {
  background-color: 
#ffffff;
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.navbar-dropdown-HlzXCz {
  background-color: transparent;
  height: 38px;
  left: 1052px;
  position: absolute;
  top: 6px;
  width: 113px;
}

.label-g0yrgx {
  background-color: 
transparent;
  color: var(--dark--hover--23272b);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: 21px;
  left: 6px;
  letter-spacing: 0px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: calc(44.12% - 9px);
  white-space: nowrap;
  width: 84px;
}

.icondropdown-arrowdefault-g0yrgx {
  background-color: 
transparent;
  height: 14px;
  position: absolute;
  right: 9px;
  top: calc(50% - 7px);
  width: 14px;
}

.icondropdown-arrow-KV5gfg {
  background-color: 
transparent;
  height: 6px;
  position: absolute;
  right: 1px;
  top: 4px;
  width: 12px;
}

.navbar-default-HlzXCz {
  background-color: 
transparent;
  height: 35px;
  left: 8px;
  position: absolute;
  top: 5px;
  width: 185px;
}

.header-D3ieSx {
  background-color: 
transparent;
  color: var(--danger--dc3545);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-weight: 700;
  height: 105.71%;
  left: 0px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 27.14%;
  white-space: nowrap;
  width: 101.09%;
}

.span1-R8P8c9 {
  font-style: normal;
}

.span2-R8P8c9 {
  font-size: var(--font-size-m);
  font-style: normal;
}

.span0-R8P8c9 {
  color: var(--dark--hover--23272b);
  font-style: normal;
}

.search-medium-HlzXCz {
  background-color: 
transparent;
  height: 40px;
  left: -384px;
  position: absolute;
  top: 5px;
  width: 2304px;
}

.group-5122-JckZDh {
  background-color: 
transparent;
  height: 1px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 39px;
  width: 100%;
}

.group-5121-XMHSZu {
  background-color: 
transparent;
  height: 4800%;
  left: 13.1%;
  position: absolute;
  top: -4700%;
  width: 86.9%;
}

.icon-search-16-JckZDh {
  background-color: 
transparent;
  height: 17px;
  left: 1808px;
  position: absolute;
  top: 12px;
  width: 17px;
}

.group-2829-IoUGSb {
  background-color: 
transparent;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 100%;
}

.group-2828-x7x58x {
  background-color: 
transparent;
  height: 229.43%;
  left: -5506.83%;
  position: absolute;
  top: -64.91%;
  width: 7341.93%;
}

.path-5094-JckZDh {
  background-color: 
transparent;
  height: 100%;
  left: 1792px;
  position: absolute;
  top: 0px;
  width: calc(100% - 1792px);
}

.group-5119-JckZDh {
  background-color: 
transparent;
  height: 40px;
  left: 1792px;
  position: absolute;
  top: 0px;
  width: 22.23%;
}

.path-5098-JckZDh {
  background-color: 
transparent;
  height: 100%;
  left: 1792px;
  position: absolute;
  top: 0px;
  width: calc(100% - 1792px);
}

.group-5139-JckZDh {
  background-color: 
transparent;
  height: 19px;
  left: 1840px;
  position: absolute;
  top: 10px;
  width: 9.77%;
}

.search-for-a-player-team-XiN410 {
  background-color: 
transparent;
  color: 
#8d8d8d;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: calc(100% + 2px);
  left: 0px;
  letter-spacing: 0.18px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100% + 2px);
}

.navbar-dropdown-YIwGnj {
  background-color: 
transparent;
  height: 38px;
  left: 1225px;
  position: absolute;
  top: 6px;
  width: 113px;
}

.label-kcwyyk {
  background-color: 
transparent;
  color: 
#000000;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: 21px;
  left: 13px;
  letter-spacing: 0px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: calc(44.12% - 9px);
  white-space: nowrap;
  width: 70px;
}

.icondropdown-arrowdefault-kcwyyk {
  background-color: 
transparent;
  height: 14px;
  position: absolute;
  right: 9px;
  top: calc(50% - 7px);
  width: 14px;
}

.icondropdown-arrow-7sb0hF {
  background-color: 
transparent;
  height: 6px;
  position: absolute;
  right: 1px;
  top: 4px;
  width: 12px;
}

.dropbtn {
    background-color: none;
    color: black;
    height: 29px;
    left: 8px;
    position: absolute;
    top: 5px;
    width: 185px;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
      border: none;
    cursor: pointer;
  }
  
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: none;
  }
  
 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
 
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
 
  .dropdown-content a:hover {background-color: #ddd}
  
  
  .show {display:block;}

